In [2]:
import babypandas as bpd

In [20]:
panda = bpd.DataFrame().assign(data=[0,1,2,3,4])
print(type(panda))
panda

<class 'babypandas.bpd.DataFrame'>

   data  numbers
0     0        5
1     1        6
2     2        7
3     3        8
4     4        9

In [14]:
flipped_panda = panda.T
print(type(flipped_panda))
flipped_panda

<class 'pandas.core.frame.DataFrame'>

      0  1  2  3  4
data  0  1  2  3  4

In [15]:
panda = flipped_panda.T
print(type(panda))
panda

<class 'pandas.core.frame.DataFrame'>

   data
0     0
1     1
2     2
3     3
4     4

In [17]:
panda = bpd.DataFrame().assign(data=[0,1,2,3,4])
panda = panda.T
panda = panda.T
type(panda)

pandas.core.frame.DataFrame

In [26]:
panda = bpd.DataFrame().assign(data=[0,1,2,3,4], numbers=[5, 6, 7, 8, 9])
panda = panda.T
panda = panda.T
print(type(panda))

<class 'pandas.core.frame.DataFrame'>

In [24]:
panda['numbers']

0    5
1    6
2    7
3    8
4    9
Name: numbers, dtype: int64