# Lecture 5 ‚Äì  DataFrames: Accessing, Sorting, and Querying
## DSC 10, Fall 2022

### Announcements

- Homework 1 is due **tomorrow at 11:59PM**.
- Lab 2 is released and is due **Saturday at 11:59PM**.
- Discussion section is tonight. Attendance policy updates:
    - Attendance will be taken at a "random" time during the 50-minute discussion section.
    - To earn credit, you must be there at that moment and have a photo ID with you. **No exceptions.**
- [This video](https://www.youtube.com/watch?v=w_witptT6Ts) walks through the lottery example from the end of Lecture 4.

### Agenda

Today, we'll use a real dataset and lots of motivating questions to illustrate key DataFrame manipulation techniques.

#### Note:

- Remember to check the [Resources tab of the course website](https://dsc10.com/resources/) for programming resources.
- Some key links moving forward:
    - [DSC 10 Reference Sheet](https://drive.google.com/file/d/1mQApk9Ovdi-QVqMgnNcq5dZcWucUKoG-/view).
    - [`babypandas` notes](https://notes.dsc10.com).
    - [`babypandas` documentation](https://babypandas.readthedocs.io/en/latest/index.html).

## DataFrames

### `pandas`

- DataFrames (tables) are provided by a package called `pandas`.
- `pandas` is **the** tool for doing data science in Python.

<center>
<img src='data/pandas.png' width=500>
</center>

### But `pandas` is not so cute...

<center>
<img height=100% src="data/angrypanda.jpg"/>
</center>

### Enter `babypandas`!

- We at UCSD have created a smaller, nicer version of `pandas` called `babypandas`.
- It keeps the important stuff and has much better error messages.
- It's easier to learn, but is still valid `pandas` code.

<center>
<img height=75% src="data/babypanda.jpg"/ width=500>
</center>

### DataFrames in `babypandas` üêº

- Tables in `babypandas` (and `pandas`) are called "DataFrames."
- To use DataFrames, we'll need to import `babypandas`. (We'll need `numpy` as well.)

In [1]:
import babypandas as bpd
import numpy as np

### About the Data: Get It Done üë∑

- We'll usually work with data stored in the CSV format. CSV stands for "comma-separated values."
- The file `data/get-it-done-oct-1.csv` contains service requests made on October 1, 2022 through the [Get It Done](https://www.sandiego.gov/get-it-done) program. 
- Get It Done allows the general public to report non-emergency problems to the City of San Diego through a mobile app, website, or phone call.

<center>
<img height=75% src="data/get-it-done.jpg"/ width=500>
</center>

### Reading data from a file üìñ

We can read in a CSV using `bpd.read_csv(...)`. Give it the path to a file relative to your notebook (if the file is in the same folder as your notebook, this is just the name of the file).

In [2]:
oct_1 = bpd.read_csv('data/get-it-done-oct-1.csv')
oct_1

,service_request_id,date_requested,neighborhood,service,status,street_address,public_description
0,3940112,2022-10-01T00:11:00,La Jolla,Pothole,Open,"7556 VIA CAPRI, San Diego, CA 92037, USA",Pothole
1,3940113,2022-10-01T00:12:00,La Jolla,Pothole,Open,"7566 VIA CAPRI, San Diego, CA 92037, USA",Potholes / fix the damn road
2,3940114,2022-10-01T00:13:00,Pacific Beach,Street Light Maintenance,Open,"1698-1500 Monmouth Dr, San Diego, CA 92109, USA",Street light out on the corner of Monmouth Dr ...
3,3940115,2022-10-01T00:13:00,La Jolla,Pothole,Open,"7456 VIA CAPRI, San Diego, CA 92037, USA",Pothole
4,3940116,2022-10-01T00:16:00,Scripps Miramar Ranch,Traffic Signal Timing,Open,"10895 Hibert St, San Diego, CA 92131, USA",Is it possible to time this light sequentially...
...,...,...,...,...,...,...,...
748,3940819,2022-10-01T17:39:00,North Park,Other,Closed,3935 32nd St,Bike Theft Chop Shop Behind Starbucks on 32nd ...
749,3940876,2022-10-01T19:47:00,Skyline-Paradise Hills,Parking,Closed,"7701-7899 Bloomfield Rd, San Diego, CA 92114, USA",Car has been parked there for many months. Exp...
750,3940900,2022-10-01T21:06:00,Downtown,Sidewalk Repair Issue,Closed,Petco Park,Safety hazard illegal vending
751,3940909,2022-10-01T21:44:00,Clairemont Mesa,Other,Closed,2810 Denver Street,Underage drinking party
752,3940924,2022-10-01T22:54:00,Clairemont Mesa,Other,Closed,5378 Jamestown Rd,People doing drugs in their car AGAIN. Please ...

### Structure of a DataFrame

- DataFrames have *columns* and *rows*.
    - Think of each column as an array. Columns contain data of the same `type`.
- Each column has a label, e.g. `'neighborhood'` and `'status'`.
    - A column's label is its name.
    - Column labels are stored as strings.
- Each row has a label too.
    - Together, the row labels are called the _index_. The index is **not** a column!

In [3]:
# This DataFrame has 753 rows and 7 columns
oct_1

,service_request_id,date_requested,neighborhood,service,status,street_address,public_description
0,3940112,2022-10-01T00:11:00,La Jolla,Pothole,Open,"7556 VIA CAPRI, San Diego, CA 92037, USA",Pothole
1,3940113,2022-10-01T00:12:00,La Jolla,Pothole,Open,"7566 VIA CAPRI, San Diego, CA 92037, USA",Potholes / fix the damn road
2,3940114,2022-10-01T00:13:00,Pacific Beach,Street Light Maintenance,Open,"1698-1500 Monmouth Dr, San Diego, CA 92109, USA",Street light out on the corner of Monmouth Dr ...
3,3940115,2022-10-01T00:13:00,La Jolla,Pothole,Open,"7456 VIA CAPRI, San Diego, CA 92037, USA",Pothole
4,3940116,2022-10-01T00:16:00,Scripps Miramar Ranch,Traffic Signal Timing,Open,"10895 Hibert St, San Diego, CA 92131, USA",Is it possible to time this light sequentially...
...,...,...,...,...,...,...,...
748,3940819,2022-10-01T17:39:00,North Park,Other,Closed,3935 32nd St,Bike Theft Chop Shop Behind Starbucks on 32nd ...
749,3940876,2022-10-01T19:47:00,Skyline-Paradise Hills,Parking,Closed,"7701-7899 Bloomfield Rd, San Diego, CA 92114, USA",Car has been parked there for many months. Exp...
750,3940900,2022-10-01T21:06:00,Downtown,Sidewalk Repair Issue,Closed,Petco Park,Safety hazard illegal vending
751,3940909,2022-10-01T21:44:00,Clairemont Mesa,Other,Closed,2810 Denver Street,Underage drinking party
752,3940924,2022-10-01T22:54:00,Clairemont Mesa,Other,Closed,5378 Jamestown Rd,People doing drugs in their car AGAIN. Please ...

### Setting a new index

- We can set a better index using `.set_index(column_name)`.
- Row labels should be unique identifiers.
    - Row labels are row names; ideally, each row has a different, descriptive name.
- ‚ö†Ô∏è Like most DataFrame methods, `.set_index` returns a new DataFrame; it does not modify the original DataFrame.

In [4]:
oct_1.set_index('service_request_id')

,date_requested,neighborhood,service,status,street_address,public_description
service_request_id,,,,,,
3940112,2022-10-01T00:11:00,La Jolla,Pothole,Open,"7556 VIA CAPRI, San Diego, CA 92037, USA",Pothole
3940113,2022-10-01T00:12:00,La Jolla,Pothole,Open,"7566 VIA CAPRI, San Diego, CA 92037, USA",Potholes / fix the damn road
3940114,2022-10-01T00:13:00,Pacific Beach,Street Light Maintenance,Open,"1698-1500 Monmouth Dr, San Diego, CA 92109, USA",Street light out on the corner of Monmouth Dr ...
3940115,2022-10-01T00:13:00,La Jolla,Pothole,Open,"7456 VIA CAPRI, San Diego, CA 92037, USA",Pothole
3940116,2022-10-01T00:16:00,Scripps Miramar Ranch,Traffic Signal Timing,Open,"10895 Hibert St, San Diego, CA 92131, USA",Is it possible to time this light sequentially...
...,...,...,...,...,...,...
3940819,2022-10-01T17:39:00,North Park,Other,Closed,3935 32nd St,Bike Theft Chop Shop Behind Starbucks on 32nd ...
3940876,2022-10-01T19:47:00,Skyline-Paradise Hills,Parking,Closed,"7701-7899 Bloomfield Rd, San Diego, CA 92114, USA",Car has been parked there for many months. Exp...
3940900,2022-10-01T21:06:00,Downtown,Sidewalk Repair Issue,Closed,Petco Park,Safety hazard illegal vending
3940909,2022-10-01T21:44:00,Clairemont Mesa,Other,Closed,2810 Denver Street,Underage drinking party
3940924,2022-10-01T22:54:00,Clairemont Mesa,Other,Closed,5378 Jamestown Rd,People doing drugs in their car AGAIN. Please ...

In [5]:
oct_1

,service_request_id,date_requested,neighborhood,service,status,street_address,public_description
0,3940112,2022-10-01T00:11:00,La Jolla,Pothole,Open,"7556 VIA CAPRI, San Diego, CA 92037, USA",Pothole
1,3940113,2022-10-01T00:12:00,La Jolla,Pothole,Open,"7566 VIA CAPRI, San Diego, CA 92037, USA",Potholes / fix the damn road
2,3940114,2022-10-01T00:13:00,Pacific Beach,Street Light Maintenance,Open,"1698-1500 Monmouth Dr, San Diego, CA 92109, USA",Street light out on the corner of Monmouth Dr ...
3,3940115,2022-10-01T00:13:00,La Jolla,Pothole,Open,"7456 VIA CAPRI, San Diego, CA 92037, USA",Pothole
4,3940116,2022-10-01T00:16:00,Scripps Miramar Ranch,Traffic Signal Timing,Open,"10895 Hibert St, San Diego, CA 92131, USA",Is it possible to time this light sequentially...
...,...,...,...,...,...,...,...
748,3940819,2022-10-01T17:39:00,North Park,Other,Closed,3935 32nd St,Bike Theft Chop Shop Behind Starbucks on 32nd ...
749,3940876,2022-10-01T19:47:00,Skyline-Paradise Hills,Parking,Closed,"7701-7899 Bloomfield Rd, San Diego, CA 92114, USA",Car has been parked there for many months. Exp...
750,3940900,2022-10-01T21:06:00,Downtown,Sidewalk Repair Issue,Closed,Petco Park,Safety hazard illegal vending
751,3940909,2022-10-01T21:44:00,Clairemont Mesa,Other,Closed,2810 Denver Street,Underage drinking party
752,3940924,2022-10-01T22:54:00,Clairemont Mesa,Other,Closed,5378 Jamestown Rd,People doing drugs in their car AGAIN. Please ...

In [6]:
oct_1 = oct_1.set_index('service_request_id')

,date_requested,neighborhood,service,status,street_address,public_description
service_request_id,,,,,,
3940112,2022-10-01T00:11:00,La Jolla,Pothole,Open,"7556 VIA CAPRI, San Diego, CA 92037, USA",Pothole
3940113,2022-10-01T00:12:00,La Jolla,Pothole,Open,"7566 VIA CAPRI, San Diego, CA 92037, USA",Potholes / fix the damn road
3940114,2022-10-01T00:13:00,Pacific Beach,Street Light Maintenance,Open,"1698-1500 Monmouth Dr, San Diego, CA 92109, USA",Street light out on the corner of Monmouth Dr ...
3940115,2022-10-01T00:13:00,La Jolla,Pothole,Open,"7456 VIA CAPRI, San Diego, CA 92037, USA",Pothole
3940116,2022-10-01T00:16:00,Scripps Miramar Ranch,Traffic Signal Timing,Open,"10895 Hibert St, San Diego, CA 92131, USA",Is it possible to time this light sequentially...
...,...,...,...,...,...,...
3940819,2022-10-01T17:39:00,North Park,Other,Closed,3935 32nd St,Bike Theft Chop Shop Behind Starbucks on 32nd ...
3940876,2022-10-01T19:47:00,Skyline-Paradise Hills,Parking,Closed,"7701-7899 Bloomfield Rd, San Diego, CA 92114, USA",Car has been parked there for many months. Exp...
3940900,2022-10-01T21:06:00,Downtown,Sidewalk Repair Issue,Closed,Petco Park,Safety hazard illegal vending
3940909,2022-10-01T21:44:00,Clairemont Mesa,Other,Closed,2810 Denver Street,Underage drinking party
3940924,2022-10-01T22:54:00,Clairemont Mesa,Other,Closed,5378 Jamestown Rd,People doing drugs in their car AGAIN. Please ...

### Shape of a DataFrame

- `.shape` returns the number of rows and columns in a given DataFrame.
- Access each with `[]`: 
    - `.shape[0]` for rows.
    - `.shape[1]` for columns.

In [7]:
# There were 7 columns before, but one of them became the index, and the index is not a column!
oct_1.shape

(753, 6)

In [8]:
# Number of rows
oct_1.shape[0]

753

In [9]:
# Number of columns
oct_1.shape[1]

6

### Annual summary of Get It Done requests

- The file `data/get-it-done-requests.csv` contains a summary of all Get It Done requests submitted this calendar year (2022) so far. 
- This whole year's worth of data shows the types of problems being reported in each neighborhood and how many service requests are resolved (`'closed'`) versus unresolved (`'open'`).

In [10]:
requests = bpd.read_csv('data/get-it-done-requests.csv')
requests

         neighborhood                                  service  closed  open
0         Balboa Park                              Dead Animal      46     0
1         Balboa Park  Development Services - Code Enforcement       2     0
2         Balboa Park                               Encampment    1484   219
3         Balboa Park   Environmental Services Code Compliance      25     1
4         Balboa Park                                 Graffiti     977     0
...               ...                                      ...     ...   ...
1582  Via De La Valle                                  Parking       1     0
1583  Via De La Valle                     Pavement Maintenance       0     1
1584  Via De La Valle                                  Pothole       9     1
1585  Via De La Valle              Stormwater Code Enforcement       3     0
1586  Via De La Valle                 Street Light Maintenance       1     0

[1587 rows x 4 columns]

## Example 1: Total requests

**Key concepts:** Accessing columns, performing operations with them, and adding new columns.

### Finding total requests

- **Question:** How many service requests of each type in each neighborhood have been made this year?
- We have, separately, the number of closed service requests and open service requests of each type in each neighborhood.
- Workflow:
    - Get the column of closed requests.
    - Get the column of open requests.
    - Add these columns element-wise.
    - Add a new column to the DataFrame with these totals.

#### Step 1 ‚Äì Getting a column

- We can get a column from a DataFrame using `.get(column_name)`.
- ‚ö†Ô∏è Column names are case sensitive!
- Column names are strings, so we need to use quotes.
- The result looks like a 1-column DataFrame, but is actually a *Series*.

In [11]:
requests

         neighborhood                                  service  closed  open
0         Balboa Park                              Dead Animal      46     0
1         Balboa Park  Development Services - Code Enforcement       2     0
2         Balboa Park                               Encampment    1484   219
3         Balboa Park   Environmental Services Code Compliance      25     1
4         Balboa Park                                 Graffiti     977     0
...               ...                                      ...     ...   ...
1582  Via De La Valle                                  Parking       1     0
1583  Via De La Valle                     Pavement Maintenance       0     1
1584  Via De La Valle                                  Pothole       9     1
1585  Via De La Valle              Stormwater Code Enforcement       3     0
1586  Via De La Valle                 Street Light Maintenance       1     0

[1587 rows x 4 columns]

In [12]:
requests.get('closed')

0         46
1          2
2       1484
3         25
4        977
        ...
1582       1
1583       0
1584       9
1585       3
1586       1
Name: closed, Length: 1587, dtype: int64

### Digression: Series

- A *Series* is like an array, but with an index.
- In particular, Series' support arithmetic.

In [13]:
requests.get('closed')

0         46
1          2
2       1484
3         25
4        977
        ...
1582       1
1583       0
1584       9
1585       3
1586       1
Name: closed, Length: 1587, dtype: int64

#### Step 2 ‚Äì Getting another column

In [14]:
requests.get('open')

0         0
1         0
2       219
3         1
4         0
       ...
1582      0
1583      1
1584      1
1585      0
1586      0
Name: open, Length: 1587, dtype: int64

#### Step 3 ‚Äì Calculating the total

- Just like with arrays, we can perform arithmetic operations with two Series, as long as they have the same length and same index. 
- Operations happen element-wise.
- The result is also a Series.

In [15]:
requests.get('closed') + requests.get('open')

0         46
1          2
2       1703
3         26
4        977
        ...
1582       1
1583       1
1584      10
1585       3
1586       1
Length: 1587, dtype: int64

#### Step 4 ‚Äì Adding the totals to the DataFrame as a new column

- Use `.assign(name_of_column=data_in_series)` to assign a Series (or array, or list) to a DataFrame.
- ‚ö†Ô∏è Don't put quotes around `name_of_column`.
- Creates a new DataFrame! Must save to variable.

In [16]:
requests.assign(
    total=requests.get('closed') + requests.get('open')
)

,neighborhood,service,closed,open,total
0,Balboa Park,Dead Animal,46,0,46
1,Balboa Park,Development Services - Code Enforcement,2,0,2
2,Balboa Park,Encampment,1484,219,1703
3,Balboa Park,Environmental Services Code Compliance,25,1,26
4,Balboa Park,Graffiti,977,0,977
...,...,...,...,...,...
1582,Via De La Valle,Parking,1,0,1
1583,Via De La Valle,Pavement Maintenance,0,1,1
1584,Via De La Valle,Pothole,9,1,10
1585,Via De La Valle,Stormwater Code Enforcement,3,0,3
1586,Via De La Valle,Street Light Maintenance,1,0,1

In [17]:
requests

         neighborhood                                  service  closed  open
0         Balboa Park                              Dead Animal      46     0
1         Balboa Park  Development Services - Code Enforcement       2     0
2         Balboa Park                               Encampment    1484   219
3         Balboa Park   Environmental Services Code Compliance      25     1
4         Balboa Park                                 Graffiti     977     0
...               ...                                      ...     ...   ...
1582  Via De La Valle                                  Parking       1     0
1583  Via De La Valle                     Pavement Maintenance       0     1
1584  Via De La Valle                                  Pothole       9     1
1585  Via De La Valle              Stormwater Code Enforcement       3     0
1586  Via De La Valle                 Street Light Maintenance       1     0

[1587 rows x 4 columns]

In [18]:
requests = requests.assign(
    total=requests.get('closed') + requests.get('open')
)
requests

,neighborhood,service,closed,open,total
0,Balboa Park,Dead Animal,46,0,46
1,Balboa Park,Development Services - Code Enforcement,2,0,2
2,Balboa Park,Encampment,1484,219,1703
3,Balboa Park,Environmental Services Code Compliance,25,1,26
4,Balboa Park,Graffiti,977,0,977
...,...,...,...,...,...
1582,Via De La Valle,Parking,1,0,1
1583,Via De La Valle,Pavement Maintenance,0,1,1
1584,Via De La Valle,Pothole,9,1,10
1585,Via De La Valle,Stormwater Code Enforcement,3,0,3
1586,Via De La Valle,Street Light Maintenance,1,0,1

## Example 2: Analyzing requests
**Key concept**: Computing statistics of columns using Series methods.

### Questions

- What is the largest number of service requests for any one service in any one neighborhood? 
- What is a typical number of service requests for any one service in any one neighborhood?

Series, like arrays, have helpful methods, including `.min()`, `.max()`, and `.mean()`.

In [19]:
requests.get('total').max()

11342

In [20]:
requests.get('total').mean()

171.33333333333334

In [21]:
requests.get('total').median()

41.0

In [22]:
requests.get('open').mean()

25.220541902961564

In [23]:
requests.get('open').median()

4.0

## Example 3: *What and where* is the most frequently requested service?

**Key concepts**: Sorting. Accessing using integer positions.

#### Step 1  ‚Äì Sorting the DataFrame

- Use the `.sort_values(by=column_name)` method to sort.
    - The `by=` is not necessary.
- Like most DataFrame methods, this returns a new DataFrame.

In [24]:
requests.sort_values(by='total')

                neighborhood                   service  closed  open  total
1586         Via De La Valle  Street Light Maintenance       1     0      1
229             Del Mar Mesa              Weed Cleanup       1     0      1
1429    Tijuana River Valley           Street Sweeping       1     0      1
1428    Tijuana River Valley  Street Light Maintenance       0     1      1
1426    Tijuana River Valley     Sidewalk Repair Issue       1     0      1
...                      ...                       ...     ...   ...    ...
840               North Park                   Parking    3059   224   3283
1363  Southeastern San Diego                   Parking    2780   614   3394
1360  Southeastern San Diego           Illegal Dumping    5350   228   5578
452    Mid-City:City Heights           Illegal Dumping    9021   222   9243
232                 Downtown                Encampment    9262  2080  11342

[1587 rows x 5 columns]

This sorts, but in ascending order (small to large). We want the opposite!

#### Step 1 ‚Äì Sorting the DataFrame in *descending* order

- Use `.sort_values(by=column_name, ascending=False)` to sort in *descending* order.
- `ascending` is an optional argument. If omitted, it will be set to `True` by default.

In [27]:
ordered_requests = requests.sort_values(by='total', ascending=False)
ordered_requests

                neighborhood                   service  closed  open  total
232                 Downtown                Encampment    9262  2080  11342
452    Mid-City:City Heights           Illegal Dumping    9021   222   9243
1360  Southeastern San Diego           Illegal Dumping    5350   228   5578
1363  Southeastern San Diego                   Parking    2780   614   3394
840               North Park                   Parking    3059   224   3283
...                      ...                       ...     ...   ...    ...
1428    Tijuana River Valley  Street Light Maintenance       0     1      1
1426    Tijuana River Valley     Sidewalk Repair Issue       1     0      1
1423    Tijuana River Valley      Pavement Maintenance       1     0      1
1422    Tijuana River Valley               Parks Issue       1     0      1
1586         Via De La Valle  Street Light Maintenance       1     0      1

[1587 rows x 5 columns]

#### Step 2 ‚Äì Extracting the neighborhood and service

- We saw that the most reported issue is `'Encampment'` in `'Downtown'`, but how do we extract that information using code?
- First, grab an entire column as a Series.
- Navigate to a particular entry of the Series using `.iloc[integer_position]`.

In [28]:
ordered_requests

                neighborhood                   service  closed  open  total
232                 Downtown                Encampment    9262  2080  11342
452    Mid-City:City Heights           Illegal Dumping    9021   222   9243
1360  Southeastern San Diego           Illegal Dumping    5350   228   5578
1363  Southeastern San Diego                   Parking    2780   614   3394
840               North Park                   Parking    3059   224   3283
...                      ...                       ...     ...   ...    ...
1428    Tijuana River Valley  Street Light Maintenance       0     1      1
1426    Tijuana River Valley     Sidewalk Repair Issue       1     0      1
1423    Tijuana River Valley      Pavement Maintenance       1     0      1
1422    Tijuana River Valley               Parks Issue       1     0      1
1586         Via De La Valle  Street Light Maintenance       1     0      1

[1587 rows x 5 columns]

In [29]:
ordered_requests.get('neighborhood')

232                   Downtown
452      Mid-City:City Heights
1360    Southeastern San Diego
1363    Southeastern San Diego
840                 North Park
                 ...
1428      Tijuana River Valley
1426      Tijuana River Valley
1423      Tijuana River Valley
1422      Tijuana River Valley
1586           Via De La Valle
Name: neighborhood, Length: 1587, dtype: object

In [30]:
ordered_requests.get('neighborhood').iloc[0]

'Downtown'

In [31]:
ordered_requests.get('service').iloc[0]

'Encampment'

## Example 4: Status of a request

**Key concept**: Accessing using row labels.

### Status of a request

- On October 1, you submitted service request **3940652**. Has the issue been resolved? 

- This cannot be answered from the annual summary data, but must be answered from the detailed data about October 1.

In [32]:
oct_1

,date_requested,neighborhood,service,status,street_address,public_description
service_request_id,,,,,,
3940112,2022-10-01T00:11:00,La Jolla,Pothole,Open,"7556 VIA CAPRI, San Diego, CA 92037, USA",Pothole
3940113,2022-10-01T00:12:00,La Jolla,Pothole,Open,"7566 VIA CAPRI, San Diego, CA 92037, USA",Potholes / fix the damn road
3940114,2022-10-01T00:13:00,Pacific Beach,Street Light Maintenance,Open,"1698-1500 Monmouth Dr, San Diego, CA 92109, USA",Street light out on the corner of Monmouth Dr ...
3940115,2022-10-01T00:13:00,La Jolla,Pothole,Open,"7456 VIA CAPRI, San Diego, CA 92037, USA",Pothole
3940116,2022-10-01T00:16:00,Scripps Miramar Ranch,Traffic Signal Timing,Open,"10895 Hibert St, San Diego, CA 92131, USA",Is it possible to time this light sequentially...
...,...,...,...,...,...,...
3940819,2022-10-01T17:39:00,North Park,Other,Closed,3935 32nd St,Bike Theft Chop Shop Behind Starbucks on 32nd ...
3940876,2022-10-01T19:47:00,Skyline-Paradise Hills,Parking,Closed,"7701-7899 Bloomfield Rd, San Diego, CA 92114, USA",Car has been parked there for many months. Exp...
3940900,2022-10-01T21:06:00,Downtown,Sidewalk Repair Issue,Closed,Petco Park,Safety hazard illegal vending
3940909,2022-10-01T21:44:00,Clairemont Mesa,Other,Closed,2810 Denver Street,Underage drinking party
3940924,2022-10-01T22:54:00,Clairemont Mesa,Other,Closed,5378 Jamestown Rd,People doing drugs in their car AGAIN. Please ...

Your service request is buried in the middle of the DataFrame. Only the first few rows and last few rows are shown, so you can't tell just by looking at the DataFrame.

### Accessing using the row label

To pull out one particular entry of a DataFrame corresponding to a row and column with certain labels:
1. Use `.get(column_name)` to extract the entire column as a Series.
2. Use `.loc[]` to access the element of a Series with a particular row label.

In this class, we'll always get a column, then a row (but row, then column is also possible).

In [33]:
oct_1.get('status')

service_request_id
3940112      Open
3940113      Open
3940114      Open
3940115      Open
3940116      Open
            ...
3940819    Closed
3940876    Closed
3940900    Closed
3940909    Closed
3940924    Closed
Name: status, Length: 753, dtype: object

In [34]:
oct_1.get('status').loc[3940652]

'Open'

### Activity üöö

Oh no, your service request 3940652 has still not been resolved! What was the problem again?

Write one line of code that evaluates to the full description of the problem, as you described it in your service request.

In [35]:
oct_1.get('public_description').loc[3940652]

'Truck parked in red blocking driveway'

### Summary of accessing a Series

- There are two ways to get an element of a Series:
    - `.loc[]` uses the row label.
    - `.iloc[]` uses the integer position.
- Usually `.loc[]` is more convenient, but each is best for different scenarios.

### Note

- Sometimes the integer position and row label are the same.
- This happens by default with `bpd.read_csv`.

In [ ]:
bpd.read_csv('data/get-it-done-oct-1.csv')

In [ ]:
bpd.read_csv('data/get-it-done-oct-1.csv').get('public_description').loc[31]

In [ ]:
bpd.read_csv('data/get-it-done-oct-1.csv').get('public_description').iloc[31]

## Reflection

### Questions we can answer right now...

- What is the largest number of open requests of one type in one neighborhood?
    - `requests.get('open').max()`.

- How many requests were made on October 1?
    - `oct_1.shape[0]`.

- What is the description of the latest request made on October 1?
    - `oct_1.sort_values(by='date_requested', ascending=False).get('public_description').iloc[0]`.

Moving forward, let's just focus on the `requests` DataFrame. As a reminder, here's what it looks like:

In [ ]:
requests

### Questions we can't yet answer...
- Which neighborhood has the most `'Weed Cleanup'` requests?
- What is the most commonly requested service in the `'University'` neighborhood (near UCSD)?
- In the `'Downtown'` neighborhood, how many open service requests are there?

The common thread between these questions is that they all involve only a **subset** of the rows in our DataFrame.

## Example 6: Which neighborhood has the most `'Weed Cleanup'` requests?

**Key concept**: Selecting rows (via Boolean indexing).

### Selecting rows

- We could determine the neighborhood with the most `'Weed Cleanup'` requests if we had a DataFrame consisting of only these type of requests.
    - We would sort by the `'total'` column in descending order, then extract the neighborhood name in the first row.
- How do we get that DataFrame?

### The solution

In [36]:
requests[requests.get('service') == 'Weed Cleanup']

               neighborhood       service  closed  open  total
30              Balboa Park  Weed Cleanup      23     0     23
61             Barrio Logan  Weed Cleanup      10     1     11
87     Black Mountain Ranch  Weed Cleanup       0     1      1
116   Carmel Mountain Ranch  Weed Cleanup       2     0      2
146           Carmel Valley  Weed Cleanup       6     1      7
...                     ...           ...     ...   ...    ...
1433   Tijuana River Valley  Weed Cleanup       2     0      2
1489           Torrey Hills  Weed Cleanup       1     0      1
1518           Torrey Pines  Weed Cleanup      10     7     17
1549             University  Weed Cleanup      53    10     63
1580                 Uptown  Weed Cleanup      36     8     44

[53 rows x 5 columns]

Use `==` to check equality. Not `=`, as that's for assignment of a value to a variable.

In [37]:
'Weed Cleanup' == 'Weed Clean-Up'

False

In [38]:
'Weed Cleanup' == 'Weed Cleanup'

True

We can *broadcast* the equality check to each element of a Series. The comparison happens element-wise.

In [39]:
requests.get('service') == 'Weed Cleanup'

0       False
1       False
2       False
3       False
4       False
        ...
1582    False
1583    False
1584    False
1585    False
1586    False
Name: service, Length: 1587, dtype: bool

### Boolean indexing

To select only some rows of `requests`:

1. Make a sequence (list/array/Series) of `True`s (keep) and `False`s (toss).
    - The values `True` and `False` are of the _Boolean_ data type.
    
2. Then pass it into `requests[sequence_goes_here]`.

Rather than making the sequence by hand, we usually generate it by making a comparison.

### Another example of element-wise comparison

Comparisons can check inequality as well as equality.

In [40]:
requests

,neighborhood,service,closed,open,total
0,Balboa Park,Dead Animal,46,0,46
1,Balboa Park,Development Services - Code Enforcement,2,0,2
2,Balboa Park,Encampment,1484,219,1703
3,Balboa Park,Environmental Services Code Compliance,25,1,26
4,Balboa Park,Graffiti,977,0,977
...,...,...,...,...,...
1582,Via De La Valle,Parking,1,0,1
1583,Via De La Valle,Pavement Maintenance,0,1,1
1584,Via De La Valle,Pothole,9,1,10
1585,Via De La Valle,Stormwater Code Enforcement,3,0,3
1586,Via De La Valle,Street Light Maintenance,1,0,1

In [41]:
requests.get('open') > 1

0       False
1       False
2        True
3       False
4       False
        ...
1582    False
1583    False
1584    False
1585    False
1586    False
Name: open, Length: 1587, dtype: bool

In [42]:
requests[requests.get('open') > 1]

         neighborhood                      service  closed  open  total
2         Balboa Park                   Encampment    1484   219   1703
5         Balboa Park  Graffiti - Code Enforcement      12     2     14
6         Balboa Park            Graffiti - Public     137    41    178
7         Balboa Park              Illegal Dumping     255    29    284
10        Balboa Park                      Parking      87     4     91
...               ...                          ...     ...   ...    ...
1577           Uptown   Trash/Recycling Collection      61     3     64
1578           Uptown             Tree Maintenance     271    83    354
1579           Uptown    Waste on Private Property     102    12    114
1580           Uptown                 Weed Cleanup      36     8     44
1581  Via De La Valle                   Encampment       1     2      3

[1001 rows x 5 columns]

### Original Question: Which neighborhood has the most `'Weed Cleanup'` requests?

Strategy:
1. Extract a DataFrame of just the `'Weed Cleanup'` requests.
2. Sort by `'total'` in descending order.
3. Return the first element in the `'neighborhood'` column.

In [43]:
weed_cleanup_only = requests[requests.get('service') == 'Weed Cleanup']
weed_cleanup_sorted = weed_cleanup_only.sort_values(by='total', ascending=False)
weed_cleanup_sorted

                      neighborhood       service  closed  open  total
1383        Southeastern San Diego  Weed Cleanup      72     7     79
807                         Navajo  Weed Cleanup      66     1     67
177                Clairemont Mesa  Weed Cleanup      55    11     66
1549                    University  Weed Cleanup      53    10     63
1352        Skyline-Paradise Hills  Weed Cleanup      52     8     60
...                            ...           ...     ...   ...    ...
268                   East Elliott  Weed Cleanup       1     0      1
309   Fairbanks Ranch Country Club  Weed Cleanup       1     0      1
1489                  Torrey Hills  Weed Cleanup       1     0      1
87            Black Mountain Ranch  Weed Cleanup       0     1      1
746                  Mission Beach  Weed Cleanup       1     0      1

[53 rows x 5 columns]

In [44]:
weed_cleanup_sorted.get('neighborhood').iloc[0]

'Southeastern San Diego'

### What if the condition isn't satisfied?

In [45]:
requests[requests.get('service') == 'Lime Cleanup']

Empty DataFrame
Columns: [neighborhood, service, closed, open, total]
Index: []

### Concept Check ‚úÖ ‚Äì Answer at [cc.dsc10.com](http://cc.dsc10.com) 

Which expression below evaluates to **the total number of service requests in the `'Downtown'` neighborhood**?

A. `requests[requests.get('neighborhood') == 'Downtown'].get('total').sum()`

B. `requests.get('total').sum()[requests.get('neighborhood') == 'Downtown']`

C. `requests['Downtown'].get('total').sum()`
   
D. More than one of the above.

In [ ]:
...

### Activity üöò

**Question**: What is the most commonly requested service in the `'University'` neighborhood (near UCSD)?

Write one line of code that evaluates to the answer.

In [ ]:
...

## Summary

### Summary

- We learned many DataFrame methods and techniques.
- Don't feel the need to memorize them all right away.
- Instead, refer to this lecture, [the DSC 10 reference sheet](https://drive.google.com/file/d/1mQApk9Ovdi-QVqMgnNcq5dZcWucUKoG-/view), [the `babypandas` notes](https://notes.dsc10.com/front.html), and [the `babypandas` documentation](https://babypandas.readthedocs.io/en/latest/index.html) when working on assignments.
- Over time, these techniques will become more and more familiar.
- **Practice!** Frame your own questions using this dataset and try and answer them.

### Next time

We'll answer more complicated questions, which will lead us to a new core DataFrame method, `.groupby`.